fx-host {
  background: $black;
  user-select: none;


  .common {
    background: #1c1e22;
  }

  .top-bar {
    background: $gray-800;
  }

  .main-section {
    @extend .common;
    position: relative;

  }

  .left-section {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .bottom-section {
    @extend .common;
    flex: 0 0 200px;
    margin: 0 0.25rem 0.25rem 0.25rem;
  }

  .right-section {
    @extend .common;
    flex: 0 0 250px;
    margin-left: 0.25rem;
  }

  .trade-widget {
    flex: 1;
    border: 1px solid $gray-900;
    margin-top: 3px;
    margin-right: 3px;
    min-width: 200px;
    min-height: 300px;
  }
}
