.price {
  position: relative;
  font-size: 2em;
}

.sub {
  font-size: calc(1em / 3);
  position: relative;
  top: 1.8em;
}

.sup {
  font-size: calc(1em / 2.5);
  position: relative;
  top: .3em;
}

.xl {
  font-weight: bold;
}
