fx-ccy-trade {


  .title {
    font-size: .8em;
    background: $gray-900;
    padding: .2em .5em;
    border-bottom: 1px solid $gray-900;
  }

  .normal-price {
    font-size: 1.5em;
    // background: linear-gradient(to right, lighten($green, 10%), darken($green, 20%));
    line-height: 1.1em;

    .sub {
      font-size: calc(1em / 3);
      position: relative;
      top: .8em;
    }

    .sup {
      font-size: calc(1em / 2.5);
      position: relative;
      top: -.6em;
      font-weight: bold;
    }

    .xl {
      font-weight: bold;
    }
  }

  .xl-price {
    font-size: 2.5em;
    background: linear-gradient(to right, lighten($green, 10%), darken($green, 20%));
    line-height: 1.1em;

    .sub {
      font-size: calc(1em / 3);
      position: relative;
      top: .8em;
    }

    .sup {
      font-size: calc(1em / 2.5);
      position: relative;
      top: -.6em;
      font-weight: bold;
    }

    .xl {
      font-weight: bold;
    }
  }

  .m-depth {
    border-bottom: 1px solid $gray-900;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    .bid {
      background: linear-gradient(to right, darken($color: $blue, $amount: 20%), darken($color: $blue, $amount: 40%));
      padding: 0 3px;
    }

    .size {
      font-size: .7em;
      text-align: right;
      width: 50px;
      padding: 0 3px;
    }

    .ask {
      background: linear-gradient(to right, darken($color: $red, $amount: 20%), darken($color: $red, $amount: 40%));
      padding: 0 3px;
    }

    .price1 {
      padding-bottom: .25em;
      font-size: .8em;
    }

    .price2 {
      font-size: 1.5em;
    }

    .price3 {
      font-size: .8em;
    }
  }
}
