<input (keydown)="onKeyDown($event)" placeholder="Search" type="text"
  (keyup)="searchText$.next($event.target.value, $event.target)" #searchInput>
<cdk-virtual-scroll-viewport [itemSize]="itemHeight" *ngIf="searchResult && searchResult.length"
  [style.height.px]="height" [style.top.px]="searchInput.offsetHeight" class="d-flex flex-fill flex-column result">
  <div class="d-flex item" *cdkVirtualFor="let item of searchResult; trackBy: rowId" (click)="onSelect(item)"
    [class.selected]="selectedItem===item">
    {{item.alias}}
  </div>
</cdk-virtual-scroll-viewport>


<ng-template #defaultItemTemplate let-item="item">
  <span>{{item.alias}}</span>
</ng-template>
