<div class="d-flex flex-column">
  <div class="d-flex title">
    <div class="d-flex flex-grow-1">
      <span> {{ccyPair.base}}-{{ccyPair.quote}}</span>
      <img [src]="ccyPair.baseImg" />
      <img [src]="ccyPair.quoteImg" />
    </div>
  </div>
  <ng-container *ngIf="topPrice; then topPriceTemplate; else emptyTopPriceTemplate"></ng-container>
  <ng-container *ngTemplateOutlet="marketDepthTemplate"></ng-container>
</div>

<ng-template #marketDepthTemplate>
  <div class="d-flex m-depth normal-price" *ngFor="let depth of marketDepth; trackBy: getRowId">
    <div class="size align-self-center">{{depth.priceLevel.bidSize}}</div>
    <div class="d-flex flex-grow-1 justify-content-end pr-1 bid">
      <span class="sub">{{depth.bid.price1}}</span>
      <span class="xl">{{depth.bid.price2}}</span>
      <span class="sup">{{depth.bid.price3}}</span>
    </div>

    <div class="d-flex flex-grow-1 pl-1 ask">
      <sub class="sub">{{depth.ask.price1}}</sub>
      <span class="xl">{{depth.ask.price2}}</span>
      <span class="sup">{{depth.ask.price3}}</span>
    </div>
    <div class="size align-self-center">{{depth.priceLevel.askSize}}</div>
  </div>
</ng-template>

<ng-template #emptyTopPriceTemplate>
  <div class="d-flex flex-fill flex-column align-items-center justify-content-center">
    <i class="fa fa-battery-empty fa-5x" aria-hidden="true"></i>
    <h2>No Data</h2>
    <!-- <div class="flex-grow-1 d-flex justify-content-center empty">--</div>
    <div class="flex-grow-1 d-flex justify-content-center empty">--</div> -->
  </div>
</ng-template>

<ng-template #topPriceTemplate>
  <div class="d-flex top-price flex-column">
    <div class="d-flex flex-shrink-0 size">
      <div class="d-flex flex-grow-1 size-l up-bg">BID</div>
      <div class="d-flex no-shrink size-m justify-content-center">

      </div>
      <div class="d-flex flex-grow-1 size-r up-bg">OFFER</div>
    </div>
    <div class="d-flex xl-price">
      <div class="flex-grow-1 d-flex justify-content-center">
        <span class="sub">{{topPrice.bid.price1}}</span>
        <span class="xl">{{topPrice.bid.price2}}</span>
        <span class="sup">{{topPrice.bid.price3}}</span>
      </div>
      <div class="flex-grow-1 d-flex justify-content-center">
        <span class="sub">{{topPrice.ask.price1}}</span>
        <span class="xl">{{topPrice.ask.price2}}</span>
        <span class="sup">{{topPrice.ask.price3}}</span>
      </div>
    </div>
  </div>
</ng-template>
