$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "styles/all";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
  font-size: var(--font-size);
  background: $body-bg;
  color: $body-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
  background: $gray-800;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  //   animate: 0.2s;
  //   box-shadow: 1px 1px 1px #000000;
  background: $gray-800;
  border: 1px inset #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: $body-bg;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  //background: #3071A9;
}
